from src.levels.level import Level
from src.game_objects.froggy import Froggy
from src.game_objects.door import Door
from src.game_objects.rock import Rock
from src.game_objects.bottle import Bottle


class Level01(Level):
    def __init__(self):
        super().__init__(1, _name_)
        self.froggy = _froggy_
        self.door = _door_
        self.rocks = _rocks_
        self.bottles = _bottles_

